@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Jost";
    margin: 0px;
}

h1 { font-size: 3em; margin: 0;}
p {
    font-size: 1.6em;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body {
    background: linear-gradient(0deg, #c7e8ff, #0a9aff);
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
}
.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bg {
    display: flex;
    flex-direction: column;
    background: rgba(171, 220, 255, 0.4);
    padding: 40px;
    border-radius: 40px;
    width: 40%;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.romania-text {
    display: inline-flex;
    font-weight: bold;
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
    line-height: 1.5;
    transition: transform 0.1s ease-in;
}
.romania-text:hover { transform: scale(0.95); }

@media (max-width: 768px) {
    * {
        font-size: 13px;
    }
    .site {
        padding-top: 20%;
    }
    .bg {
        width: 60%;
    }
    h1 {
        font-size: 2.5em;
    }
}

.flag {
    width: 20px;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-right: 3px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    border: 1px solid black;
    margin: 20px 0px 20px 0px;
    align-items: center;
}

.links {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    flex-wrap: wrap;
}
.link {
    text-decoration: none;
    color: blue;
    font-size: 1em;
    transition: transform 0.1s ease-out;
}

.link:hover {
    transform: scale(1.1);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

}