@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: "Jetbrains Mono", sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: clamp(20px, 3.5vw, 75px);
    
    color: white;
    overflow: hidden;
}

.site {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000030;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.links {
    font-size: clamp(8px, 2.5vw, 25px);
}
.links_contact {
    font-size: clamp(8px, 2.5vw, 25px);
}

.link {
    display: inline-block;
    text-decoration: none;
    color: lightskyblue;
    transition: 0.2s ease-out;
    padding-bottom: 0.2em
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background: lightskyblue;
    transition: width 240ms ease-out;
}

.link:hover::after {
    width: 100%;
}
.link:hover {
    transform: scale(1.1);
}


.contact {
    font-size: clamp(8px, 2.5vw, 25px);
}

hr {
    width: 40vw;
    color: white;
    margin: 15px;
}