body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3feff;
}
.box {
    border-radius: 20px;
    box-shadow: 0 0 0px rgba(1, 119, 253, 0.3);
    background-color: #fff;
    width: 40%;
    height: 30%;
    color: black;
    font-family: "Roboto";
    opacity: 0.2;
    animation: start 0.5s ease-out forwards, float 2s ease-in-out infinite;
    padding: 20px;
}
@keyframes start {
    to {
        opacity: 1;
        width: 65%;
        height: 70%;
        box-shadow: 0 0 100px rgba(1, 119, 253, 0.3);
    }
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}