body {
  background: black;
  color: lime;
  font-family: monospace;
  padding: 20px;
}

.cursor::after {
  content: "_";
  animation: blink 0.5s infinite steps(2);
}

@keyframes blink {
  0% { opacity: 0;}
  100% { opacity: 1;}
}