.text {
    display: inline-block;
    font-family: "Cascadia Code";
    font-weight: bold;
    padding: 0;
    margin: 0;

    background: linear-gradient(450deg, #0aceff, #00f, #f0f, #0aceff);
    
    background-size: 400% 400%;

    animation: pos 4s linear infinite;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.text h2 {
    font-size: 20px;
}
.text p {
    font-size: 15px;
    font-family: "Consolas";
}

body {
    display: flex;
    background-color: #ffffff;
}
@keyframes pos {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 135% 50%;
    }

}
